    /*================================================ General =====================================*/
    
    html,
    body {
        height: 100%;
    }
    
    body {
        font-family: "Roboto Condensed", sans-serif;
    }
    
    .parallax {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .content-title h1 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin: 0px 0px 30px 0px;
        text-transform: uppercase;
    }
    
    .content-title-white {
        color: #fff;
        padding-top: 50px;
    }
    
    .content-title-underline {
        width: 30px;
        height: 3px;
        background-color: #34c6d3;
        margin: 0px auto 30px auto;
    }
    
    .btn-general {
        border-radius: 0%;
        border-color: white;
        background-color: transparent;
        text-transform: uppercase;
        border-width: 2px;
    }
    
    .btn-general a {
        color: rgb(32, 32, 32);
    }
    
    .btn-general:hover {
        background-color: white;
        color: black;
        border-color: white;
    }
    
    .btn-blue {
        border-color: #34c6d3;
        color: #34c6d3;
    }
    
    .btn-blue:hover {
        background-color: #34c6d3;
        color: white;
        border-color: #34c6d3;
    }
    
    .full-container {
        height: 100%;
        display: contents;
    }
    
    .full-container-box {
        width: 100%;
        height: 100%;
        display: table;
    }
    
    .full-container-box-inner {
        display: table-cell;
        vertical-align: middle;
    }
    /*================================================ Home =====================================*/
    
    #home {
        height: 100%;
    }
    
    .home-container {
        height: 100%;
        background-image: url("../img/bg-home.jpg");
    }
    
    .home-content-box {
        width: 100%;
        height: 100%;
        display: table;
    }
    
    .home-content-box-inner {
        display: table-cell;
        vertical-align: middle;
    }
    
    .home-heading {
        color: white;
        font-size: 24px;
        font-weight: 700;
        margin: 20px 0;
        text-transform: capitalize;
    }
    
    #home-cover {
        animation-delay: .1s;
        animation-duration: .5s;
    }
    
    #home-heading {
        animation-delay: .5s;
        animation-duration: .5s;
    }
    
    #home-btn {
        animation-delay: 1s;
        animation-duration: .5s;
        margin: 0px auto 0px auto;
        display: table;
    }
    /*================================================ Services =====================================*/
    
    .service-item-icon i {
        float: left;
        padding: 15px;
        margin-right: 25px;
        width: 75px;
        height: 75px;
        color: #34c6d3;
        text-align: center;
    }
    
    .service-item-icon i:hover {
        background-color: #34c6d3;
        color: white;
    }
    
    .content-container {
        padding: 60px 0px 60px 0px;
    }
    
    .service-item-title {
        font-size: 20px;
        font-weight: 200;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    
    .service-item {
        padding: 20px 0px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    /*================================================ About =====================================*/
    
    #about-btn {
        animation-delay: 1s;
        animation-duration: .5s;
        margin: 0px auto 0px 0px;
        display: table;
    }
    
    .about-image {
        background-image: url(../img/bg-about.jpg);
        border-top: 700px solid transparent;
        border-left: 200px solid rgb(255, 255, 255);
        height: 700px;
        width: 60%;
        float: right;
    }
    
    .about-underline {
        margin: 0px;
        margin-left: inherit;
    }
    
    .about-title {
        margin-bottom: 30px;
    }
    
    .about-title h1 {
        text-align: left;
    }
    
    .about-container .col-md-4 {
        padding-left: 0px;
    }
    
    .about-desc {
        margin: 30px 0px;
    }
    
    .about-content-box {
        height: 700px;
        float: left;
    }
    
    .about-content-box-outer {
        display: table;
        height: inherit;
    }
    
    .about-content-box-inner {
        display: table-cell;
        vertical-align: middle;
    }
    /*================================================ Works =====================================*/
    
    .items {
        display: block;
        max-width: 100%;
        height: auto;
        transition: transform .5s cubic-bezier(0.42, 0, 0.71, 0.78);
    }
    
    .items:hover {
        transform: scale(1.5);
        cursor: zoom-in;
    }
    
    .row.no-gutters [class*=col-] {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .img-wrapper {
        overflow: hidden;
    }
    
    .work-container {
        width: 100%;
    }
    /*================================================ Teams =====================================*/
    
    .team-member {
        margin: 0 15px;
    }
    
    .team-member-details {
        margin-top: 20px;
    }
    
    .team-member-name h1 {
        font-size: 20px;
        margin: 0px 0px 10px 0px;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .team-member-post p {
        color: #34c6d3;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        font-style: italic;
        letter-spacing: 1px;
        margin-top: 5px;
    }
    
    .social-icons .fa {
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        margin: 10px;
        color: rgba(32, 32, 32, 0.7);
    }
    
    .social-icons {
        padding-left: 0px;
        text-align: center;
    }
    
    .social-icons li {
        list-style: none;
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 6px;
        margin-top: 10px;
    }
    
    .team-wrapper {
        width: fit-content;
    }
    /*================================================ Testimonials =====================================*/
    /* .testimonial-cover {
    background-image: url(../img/bg-testimonials.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
}

#testimonial,
#testimonial .content-title,
#testimonial .content-container {
    height: 100%;
}

.testimonials blockquote::before {
    content: "\201c";
    top: 0px;
    left: 100px;
}

.testimonials blockquote::after {
    content: "\201d";
    bottom: 0px;
    right: 100px;
}

.testimonials blockquote::after,
.testimonials blockquote::before {
    color: white;
    font-size: 50px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.testimonials blockquote {
    border-left: none;
}

.testimonials img {
    width: 100px!important;
    margin: 0px auto;
}

.testimonials blockquote p {
    color: white;
    font-size: 20px;
    font-weight: 700;
} */
    
    #testimonials-cover {
        background-image: url("../img/bg-testimonials.jpg");
    }
    
    #testimonials .content-box {
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    #customers-testimonials {
        padding: 50px 0;
    }
    
    .testimonial img {
        max-width: 120px;
        margin: 0 auto 0 auto;
    }
    
    .testimonial blockquote {
        border: 0;
        font-family: Georgia, sans-serif;
        font-style: italic;
        color: #fff;
        padding: 6px 150px;
        position: relative;
    }
    
    .testimonial blockquote p {
        color: #fff;
    }
    
    .testimonial blockquote::before,
    .testimonial blockquote::after {
        font-size: 80px;
        font-style: normal;
        line-height: 1;
        width: 30px;
        height: 30px;
        position: absolute;
    }
    
    .testimonial blockquote::before {
        content: "\201C";
        top: 0;
        left: 100px;
    }
    
    .testimonial blockquote::after {
        content: "\201D";
        bottom: 0;
        right: 100px;
    }
    
    .testimonial-author p {
        color: #fff;
        font-size: 17px;
    }
    
    .testimonial-author p strong {
        display: block;
    }
    /*================================================ Pricing =====================================*/
    
    .pricing-box {
        border: 3px solid #34c6d3;
        padding: 50px 0px;
        margin-top: 40px;
    }
    
    .pricing-box-lg {
        padding: 90px 0px;
        background-color: #34c6d3;
        margin-top: 0px;
    }
    
    h3.pricing-value {
        font-size: 60px;
        font-weight: 700;
    }
    
    h3.pricing-value sup {
        font-size: 28px;
        font-weight: normal;
        vertical-align: super;
    }
    
    .pricing-spec {
        list-style: none;
        padding-left: 0px;
    }
    
    .pricing-title {
        background-color: #34c6d3;
        color: #fff;
        display: inline-block;
        padding: 7px 15px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 30px 0;
    }
    
    .pricing-title-white {
        color: #34c6d3;
        background-color: #fff;
        display: inline-block;
        padding: 7px 15px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 30px 0;
    }
    /*================================================ Stats =====================================*/
    
    #stats-background {
        background-image: url("../img/bg-stats.jpg");
        height: 100%;
    }
    
    .shade {
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
        padding: 20px 0px;
        margin: 60px 0px;
    }
    
    #stats h1 {
        color: #fff;
    }
    
    #stats .content-title {
        margin-top: 60px;
    }
    
    .stats-item .fa {
        color: #34c6d3;
    }
    
    .stats-item h2 {
        color: #fff;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 5px;
    }
    
    .stats-item p {
        color: #fff;
        font-weight: 500;
        font-size: 25px;
    }
    /*================================================ Client =====================================*/
    
    .client {
        height: 100px;
    }
    /*================================================ Footer =====================================*/
    
    #contact .content-item {
        background-color: rgb(22, 22, 22);
        padding-top: 20px;
    }
    
    #contact h1,
    #contact p,
    #contact strong {
        color: #fff;
        font-size: 15px;
    }
    
    #contact h1 {
        font-weight: 700;
        font-size: 20px;
    }
    
    #contact .social-icons .fa {
        font-size: 30px;
        font-weight: 700;
        margin: 10px;
        color: rgba(255, 255, 255, 0.7);
    }
    
    #contact .social-icons li {
        margin: 10px 20px;
        margin-left: 0px;
    }
    
    #contact .social-icons {
        padding-left: 0px;
        float: left;
    }
    
    form .form-control {
        background: transparent;
        border-radius: 0;
        border-color: #fff;
        font-size: 17px;
        font-weight: 300;
        padding: 8px 16px;
        margin-bottom: 20px;
        color: #fff;
    }
    
    #footer-menu {
        float: left;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
    }
    
    #footer-menu ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
    
    #footer-menu ul li {
        display: inline-block;
    }
    
    #footer-menu ul li a {
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        margin: 0 10px;
        text-decoration: none;
    }
    
    #footer-menu ul li a:hover {
        color: #34c6d3;
    }
    
    .footer-bottom {
        background-color: rgb(31, 31, 31);
        padding: 15px;
    }
    
    .info {
        background-image: url(../img/world-map.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    /*================================================ Navigation =====================================*/
    
    #back-to-top {
        font-weight: 200;
        font-size: 22px;
        padding: 4px 15px;
        text-align: center;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    
    .navbar {
        padding: 20px 0;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    
    .navbar-nav {
        float: right;
    }
    
    .navbar-nav>li>a {
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
    }
    
    .navbar-nav>li>a:hover {
        background-color: transparent;
        color: #34c6d3;
    }
    
    .navbar-brand {
        float: left;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
        height: 50px;
        margin-left: 55px!important;
    }
    
    .top-nav {
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    
    .navbar-collapse {
        max-height: none !important;
    }
    
    #nav-menu ul.navbar-nav>li.active>a {
        color: #34c6d3;
    }